html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
}

#wrapper {
  min-height: 100%;
  padding-top: 70px;
  position: relative;
}

#stateIcon {
  font-size: 72px;
}

footer#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  opacity: 0.7;
  font-size: 12px;
}

h5 {
  font-weight: bold;
}

.toggle {
  zoom: 0.6;
  display: inline-block;
  vertical-align: middle;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

input.cmn-toggle-round + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #ddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #9CCC65;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}